.dash h1 span {
    font-size: 20px;
    color: #777;
    margin-left: 10px;
  }
  
  .dash h3 {
    font-size: 25px;
    color: red;
  }

  .cal {
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
    margin: 20px 0 40px 25%;
    padding: 13px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  }