.event {
    position: relative;
    padding-top: 40px;
  }
  
  .event h3 {
    font-size: 25px;
  }
  
  .event p {
    margin: 10px 0;
  }
  
  .image {
    margin-bottom: 20px;
  }
  
  .controls {
    position: absolute;
    right: 30px;
    top: 0;
  }
  
  .delete {
    margin-left: 20px;
    color: red;
  }
  
  .back {
    display: block;
    margin-top: 40px;
  }

  .label {
    display: block;
  }
  
  .input {
    width: 60%;
    height: 40px;
    padding: 5px;
  } 

  .boxed {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    margin: 20px 0;
    margin-bottom: 40px;
    padding: 13px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  }
  .btn {
    display: inline-block;
    background: rgb(192, 0, 0);
    color: #fff;
    padding: 10px 20px;
    padding: 3px 12px;
  
    cursor: pointer;
    border: 0;
    border-radius: 5px;
  }
  
  .btn:hover {
    opacity: 0.9;
  }